* {
    box-sizing: border-box;
}

body {
    background-image: url("pics/library-1219676.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1 {
    font-size:3.5em;
    text-align: center;
    color: red;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 4em;
}

button {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    margin-top: .5em;
}

button:hover {
    opacity: 0.75;
}

input {
    margin-top: .5em;
}

.container {
    width: 1200px;
    margin: auto;
    padding-top: 30px;
    margin-top: 50px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}

.btn-container {
    display: flex;
    justify-content: space-around;
    }

.form-container {
    display: none;
    width: 300px;
    border: none;
    position: absolute;
}

.form-container input[type=text], .form-container input[type=submit], .form-container input[type=button] {
    width: 300px;
    
}

.form-container input[type=text] {
    height: 39px;
}

.form-container input[type=number] {
    height: 39px;
    width: 300px;
}
.form-popup {
    display: flex;
    justify-content: space-around;
}

.bookdiv {
    background-color: grey;
    font-size: 25px;
    text-align: left;
    width: 300px;
    padding: 10px;
    border: solid 2px black;
}